// Example: filepath: app/styles/index.scss
@use './variables.scss';
@use './z-index.scss';
@use './animations.scss';
@use './components/terminal.scss';
@use './components/resize-handle.scss';
@use './components/code.scss';
@use './components/editor.scss';
@use './components/toast.scss';

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--bolt-elements-bg-depth-1);
  color: var(--bolt-elements-textPrimary);
  margin: 0;
  padding: 0;
}
